.app-container {
  margin: 20px;
  padding: 10px;
}

.jobs-container {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding: 10px;
  gap: 20px;
  flex-wrap: wrap;
}

.filter-container {
  display: flex;
  justify-content: center;
  margin: 20px;
}

