.filters{
  display: flex;
  min-height: 100%;
  width: 100%;
  gap: 0.4rem;
  flex-wrap: wrap;
  justify-content: center;
}


.select-container,
.text-field-container {
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
}

.text-field {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 200px;
}

.select {
  min-width: 160px;
  font-size: 12px;
}


.input{
  min-width: 160px;
  font-size: 12px;
  height: 2.4rem;
  padding-left: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}


@media screen and (max-width: 420px) {
  .filters{
      flex-direction: row;
  }
  .select{
      min-width: 100%;
  }
  .input{
      min-width: 100%;
  }
}